/* line 1, ../compass/sass/style.scss */
#map {
  height: 100vh;
}

/* line 9, ../compass/sass/style.scss */
.info-button {
  font-size: 20px;
}

/* line 12, ../compass/sass/style.scss */
.btn-group {
  display: inline;
}

/* line 15, ../compass/sass/style.scss */
.places-select {
  padding: 0;
}

/* line 19, ../compass/sass/style.scss */
.btn-group .dropdown-toggle {
  width: 100%;
}
/* line 22, ../compass/sass/style.scss */
.btn-group .btn:first-child {
  margin-bottom: 20px;
}

/* line 45, ../compass/sass/style.scss */
.weather-info {
  font-weight: bold;
  font-style: italic;
}
/* line 48, ../compass/sass/style.scss */
.weather-info .left-side {
  float: left;
}
/* line 51, ../compass/sass/style.scss */
.weather-info .right-side {
  float: right;
}
