/* line 1, ../compass/sass/style.scss */
#map {
  height: 100vh;
}

/* line 5, ../compass/sass/style.scss */
.top-row {
  height: 5vh;
  width: 100%;
  background-color: #6BB9FF;
}

/* line 11, ../compass/sass/style.scss */
#cities-panel {
  overflow: auto;
  height: 100vh;
  font-size: 12px;
  padding: 2px;
}
/* line 16, ../compass/sass/style.scss */
#cities-panel .city-name {
  font-weight: bold;
  margin-left: 2px;
}
/* line 20, ../compass/sass/style.scss */
#cities-panel .info-button {
  margin-left: 2px;
  width: 140px;
  padding-bottom: 5px;
}
/* line 25, ../compass/sass/style.scss */
#cities-panel .button {
  box-shadow: 1px 1px 5px black;
}
