
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
    <md-content class="mdSideNavInner" ng-controller="RightCtrl" layout-padding="">
        <md-button ng-click="close()" class="md-primary closeButton">
            <i style="font-size: 40px" class="material-icons">close</i>
        </md-button>
        <!-- <div class="places-select" ng-dropdown-multiselect="" options="example1data" selected-model="example1model" translation-texts="example5customTexts" extra-settings="example10settings"></div> -->
        <input type="text" ng-model="cityFilter" placeholder="Filter by City">
        <div ng-repeat="city in cities | filter:cityFilter:cityFilterComparator as results" class="left">
            <div class="info-button">
                <a href="" ng-click="zoomClick(city.yearRank)">
                    <i class="material-icons">location_searching</i>
                </a>
                <a href="#" ng-click="showInfoClick(city.yearRank)">{{city.city}}</a>
            </div>
        </div>
    </md-content>
</md-sidenav>
