/* line 1, ../../_tools/compass/sass/style.scss */
#placesmap {
  height: 100vh;
}

/* line 4, ../../_tools/compass/sass/style.scss */
.info-button {
  font-size: 20px;
}

/* line 7, ../../_tools/compass/sass/style.scss */
.places-select {
  padding: 0;
}

/* line 11, ../../_tools/compass/sass/style.scss */
.btn-group .dropdown-toggle {
  width: 100%;
}
/* line 14, ../../_tools/compass/sass/style.scss */
.btn-group .btn:first-child {
  margin-bottom: 20px;
}

/* line 18, ../../_tools/compass/sass/style.scss */
.weather-info {
  font-weight: bold;
  font-style: italic;
}
/* line 21, ../../_tools/compass/sass/style.scss */
.weather-info .left-side {
  float: left;
}
/* line 23, ../../_tools/compass/sass/style.scss */
.weather-info .left-side #left-left {
  float: left;
}
/* line 26, ../../_tools/compass/sass/style.scss */
.weather-info .left-side #right-left {
  float: right;
}
/* line 29, ../../_tools/compass/sass/style.scss */
.weather-info .left-side #ico {
  clear: both;
}
/* line 32, ../../_tools/compass/sass/style.scss */
.weather-info .left-side div {
  font-size: 10px;
}
/* line 35, ../../_tools/compass/sass/style.scss */
.weather-info .left-side img {
  height: 20px;
}
/* line 39, ../../_tools/compass/sass/style.scss */
.weather-info .right-side {
  float: right;
}

/* line 43, ../../_tools/compass/sass/style.scss */
.side-pull-tab {
  background-color: white;
  width: 20px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: -5px;
  z-index: 200;
  padding: 2px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  border-width: 1px;
}

/* line 59, ../../_tools/compass/sass/style.scss */
.toggleButton {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 222;
}

/* line 65, ../../_tools/compass/sass/style.scss */
.md-sidenav-right {
  padding: 10px;
  box-shadow: -1px 1px 5px black;
}

/* line 69, ../../_tools/compass/sass/style.scss */
#toggle-navbar {
  text-shadow: 1px 1px 1px black;
  color: #034f84;
  font-size: 80px;
}

/* line 74, ../../_tools/compass/sass/style.scss */
.angular-google-map-container {
  height: 100vh;
}

@media screen and (min-width: 1280px) {
  /* line 77, ../../_tools/compass/sass/style.scss */
  .md-button {
    display: none !important;
  }
}
